Options +FollowSymlinks
RewriteEngine On 

RewriteBase /PHP/portfolio

#Retour à l'index 
RewriteRule ^website-([0-9]+)$ website.php?id=$1&back=I [L]
#Retour à allProject
RewriteRule ^Website-([0-9]+)$ website.php?id=$1&back=P [L]